body
  -webkit-font-smoothing antialiased
  padding 0 10px

.box
  font-family 'Source Sans Pro', 'sans-serif'
  color #5c6b80
  a
    color #273b4d
  a:hover, a:focus
    color #18242f
  p
    margin 5px
  h1
    color $colorTitle
    font-weight 700
    font-size 1.125em
    margin-bottom 20px
    margin-top 18px
    border-bottom 1px solid #D4E0EC
    padding-bottom 5px
    line-height 1.4em
    text-rendering optimizelegibility
    letter-spacing 0
  table
    border 1px solid #D4E0EC
    border-collapse separate
    width 100%
    th
      background-color #F9FAFC
      font-weight 100
      color #848E97
      text-align left
      padding 15px 10px
      border-bottom none
    td
      border-top 1px solid #D4E0EC
      border-bottom none
      padding 5px 10px
      vertical-align middle
    th:last-child, td:last-child
      padding-right 20px
    .box-item-image
      text-align center
    .box-item-quantity
      text-align center
    .box-item-price
      text-align right
    p
      margin 0
  .box-details
    margin-bottom 20px
    .box-status
      color #FFF
      border-radius 2px
      padding 1px 7px 2px 7px
      text-transform uppercase
      font-weight bold
      margin-left 5px
    .box-active
      background-color #5cb85c
    .box-paused
      background-color #f0ad4e
    .box-controls
      margin-left 5px
  .box-message
    border 1px solid #D4E0EC
    background-color #F1F2F4
    padding 10px 20px 5px 20px
    border-radius 5px
    ul
      margin 10px 0
      list-style disc inside
      li
        margin 0

.sweet-alert
  top 20%
  h2
    margin 15px 0
  button
    line-height inherit
    height inherit
    margin 10px 5px
  .sa-icon
    margin 10px auto

.admin
  margin-top 10px
  .boxes
    table
      tr
        cursor pointer
