<template name="box">

  <div class="box">
    <h1>Monthly Box</h1>
    {{#if Template.subscriptionsReady}}
      {{#if boxItemsExist}}
        <table>
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th>Item</th>
              <th>Quantity</th>
              <th>Total Price</th>
            </tr>
          </thead>
          <tbody>
            {{#each boxItems}}
              <tr>
                <td>
                  <a href="#" class="remove-box-item">
                    <i class="fa fa-remove"></i>
                  </a>
                </td>
                <td class="box-item-image">
                  <img src="{{productImage}}">
                </td>
                <td>
                  <a href="{{productUrl}}">{{productName}}</a>
                  <p>({{variationDetails}})</p>
                </td>
                <td class="box-item-quantity">
                  {{quantity}}
                </td>
                <td class="box-item-price">
                  ${{totalPrice}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{else}}
        <p>Nothing in your box.</p>
      {{/if}}
    {{else}}
      Loading ...
    {{/if}}
  </div>

</template>
