<template name="box">

  <div class="box container">
    <h1>Box Subscription</h1>
    {{#if Template.subscriptionsReady}}

      {{#if box}}

        {{#with box}}
          <div class="box-details row">
            <div class="col-md-7">
              <form>
                <table class="table">
                  <tbody>
                    <tr>
                      <th>Subscription Status</th>
                      <td>
                        <span class="box-status box-{{statusId}}">{{boxStatusLabel}}</span>
                        <span class="box-controls">
                          (<a href="#" class="box-pause">Pause</a><a href="#"
                            class="u-hide box-resume">Resume</a>
                          | <a href="#" class="box-cancel">Cancel</a>)
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <th>Ship My Box</th>
                      <td>
                        <select class="form-control box-renewal-freq">
                          <option value="w2">Every 2 Weeks</option>
                          <option value="m1">Every Month</option>
                          <option value="m2">Every 2 Months</option>
                          <option value="m3">Every 3 Months</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <th class="box-th-next-ship-date">
                        My Next Box Ships On
                      </th>
                      <td>
                        <div class="input-group col-md-6">
                          <input type="text"
                            class="form-control box-renewal-date"
                            value="{{formatDate renewalDate}}">
                          <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </span>
                        </div>
                        <p class="box-ship-message">
                          Your "Ship My Box" frequency starts from this date.
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
          </div>
        {{/with}}

        {{#if boxItemsExist}}

          <h2>Box Contents</h2>
          <div class="row">
            <div class="col-md-8">
              <table>
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th>Item</th>
                    <th class="box-item-quantity">Quantity</th>
                    <th class="box-item-price">Total Price</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each boxItems}}
                    <tr>
                      <td>
                        <a href="#" class="remove-box-item">
                          <i class="fa fa-remove"></i>
                        </a>
                      </td>
                      <td class="box-item-image">
                        <img src="{{productImage}}">
                      </td>
                      <td>
                        <a href="{{productUrl}}">{{productName}}</a>
                        <p>({{variationDetails}})</p>
                      </td>
                      <td class="box-item-quantity">
                        {{quantity}}
                      </td>
                      <td class="box-item-price">
                        ${{totalPrice}}
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>
            </div>
            <div class="col-md-4">
              <div class="box-message">
                Your next box will be packaged, billed and prepared for shipping on <strong>{{boxRenewalDate}}</strong>. To make changes to your box at any point you can:
                <ul>
                  <li>Adjust box item flavors and quantities;</li>
                  <li>Remove items from your box;</li>
                  <li>Browse the site and add new items to your box by clicking on an items "Add to Box Subscription" button.</li>
                </ul>
              </div>
            </div>
          </div>

        {{else}}
          <p>Nothing in your box.</p>
        {{/if}}

      {{else}}
        You don't have a box subscription.
      {{/if}}

    {{else}}
      Loading ...
    {{/if}}

  </div>

</template>
