<template name="box">

  <div class="box container">
    <h1>Box Subscription</h1>
    {{#if Template.subscriptionsReady}}

      {{#if box}}

        {{#with box}}

          <div class="alert alert-warning">
            <i class="fa fa-exclamation-circle"></i>
            <strong>Please Note:</strong>
            Changes made to your box below are saved automatically. You do not need to confirm or save your changes.
          </div>

          <div class="box-details row">
            <div class="col-md-7">
              <form>
                <table class="table">
                  <tbody>
                    <tr>
                      <th class="box-th-sub-status">Subscription Status</th>
                      <td>
                        <span class="box-status box-{{statusId}}">{{boxStatusLabel}}</span>
                        <span class="box-controls">
                          (<a href="#" class="box-pause">Pause</a><a href="#"
                            class="u-hide box-resume">Resume</a>
                          | <a href="#" class="box-cancel">Cancel</a>)
                        </span>
                      </td>
                    </tr>
                    <tr>
                      <th>Box Total</th>
                      <td class="box-total">
                        ${{formatPrice boxPrice}}
                      </td>
                    </tr>
                    <tr>
                      <th>Ship My Box</th>
                      <td>
                        <select class="form-control box-renewal-freq">
                          <option value="w2">Every 2 Weeks</option>
                          <option value="m1">Every Month</option>
                          <option value="m2">Every 2 Months</option>
                          <option value="m3">Every 3 Months</option>
                        </select>
                      </td>
                    </tr>
                    <tr>
                      <th class="box-th-next-ship-date">
                        My Next Box Ships On
                      </th>
                      <td>
                        <div class="input-group col-md-6">
                          <input type="text"
                            class="form-control box-renewal-date"
                            value="{{formatDate renewalDate}}">
                          <span class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                          </span>
                        </div>
                        <p class="box-ship-message">
                          Your "Ship My Box" frequency starts from this date.
                        </p>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </form>
            </div>
          </div>
        {{/with}}

        {{#if boxItemsExist}}

          <h2>Box Contents</h2>
          <div class="row">
            <div class="col-md-8">

              <table class="hidden-xs">
                <thead>
                  <tr>
                    <th></th>
                    <th></th>
                    <th>Item</th>
                    <th class="box-item-quantity">Quantity</th>
                    <th class="box-item-price">Total Price</th>
                  </tr>
                </thead>
                <tbody>
                  {{#each boxItems}}
                    <tr>
                      <td>
                        <a href="#" class="remove-box-item">
                          <i class="fa fa-remove"></i>
                        </a>
                      </td>
                      <td class="box-item-image">
                        <img src="{{setting 'storeUrl'}}{{productVariation.productImage}}">
                      </td>
                      <td>
                        <p>
                          <a href="{{setting 'storeUrl'}}{{productVariation.productUrl}}">{{productVariation.productName}}</a>
                        </p>
                        {{#if variationId}}
                          <select class="form-control box-item-variations">
                            {{#each variations}}
                              <option value="{{variationId}}"
                                  {{selectedIfEquals ../variationId}}>
                                {{variationName}}
                              </option>
                            {{/each}}
                          </select>
                        {{/if}}
                      </td>
                      <td class="box-item-quantity">
                        <div class="input-group spinner">
                          <input type="text" class="form-control quantity"
                            value="{{quantity}}">
                          <div class="input-group-btn-vertical">
                            <button class="btn btn-default quantity-up"
                                type="button">
                              <i class="fa fa-caret-up"></i>
                            </button>
                            <button class="btn btn-default quantity-down"
                                type="button">
                              <i class="fa fa-caret-down"></i>
                            </button>
                          </div>
                        </div>
                      </td>
                      <td class="box-item-price">
                        <strike>${{formatPrice totalPrice}}</strike>
                        ${{formatPrice totalDiscountedPrice}}
                      </td>
                    </tr>
                  {{/each}}
                </tbody>
              </table>

              <div class="visible-xs-block">
                {{#each boxItems}}
                  <div class="box-item">
                    <div class="row">
                      <div class="col-xs-1">
                        <a href="#" class="remove-box-item">
                          <i class="fa fa-remove"></i>
                        </a>
                      </div>
                      <div class="col-xs-5 text-center">
                        <img src="{{setting 'storeUrl'}}{{productVariation.productImage}}">
                      </div>
                      <div class="col-xs-2">
                        <strike>${{formatPrice totalPrice}}</strike>
                        ${{formatPrice totalDiscountedPrice}}
                      </div>
                      <div class="col-xs-3">
                        <div class="input-group spinner">
                          <input type="text" class="form-control quantity"
                            value="{{quantity}}">
                          <div class="input-group-btn-vertical">
                            <button class="btn btn-default quantity-up"
                                type="button">
                              <i class="fa fa-caret-up"></i>
                            </button>
                            <button class="btn btn-default quantity-down"
                                type="button">
                              <i class="fa fa-caret-down"></i>
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div>
                      <p>
                        <a href="{{setting 'storeUrl'}}{{productVariation.productUrl}}">{{productVariation.productName}}</a>
                      </p>
                      {{#if variationId}}
                        <select class="form-control box-item-variations">
                          {{#each variations}}
                            <option value="{{variationId}}"
                                {{selectedIfEquals ../variationId}}>
                              {{variationName}}
                            </option>
                          {{/each}}
                        </select>
                      {{/if}}
                    </div>
                  </div>
                {{/each}}
              </div>

            </div>
            <div class="col-md-4">
              <div class="box-message">
                Your next box will be packaged, billed and prepared for shipping on <strong>{{boxRenewalDate}}</strong>, at which point you will be billed <strong>${{formatPrice box.boxPrice}}</strong>. To make changes to your box at any point you can:
                <ul>
                  <li>Adjust box item flavors and quantities;</li>
                  <li>Remove items from your box;</li>
                  <li>Browse the site and add new items to your box by clicking on an items "Add to Box Subscription" button.</li>
                </ul>
              </div>
            </div>
          </div>

        {{else}}
          <p>Nothing in your box.</p>
        {{/if}}

      {{else}}
        You don't have a box subscription.
      {{/if}}

    {{else}}
      Loading ...
    {{/if}}

  </div>

</template>
